*{
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    display: flexbox;
    text-align: right;
}

.menu{
    display: inline-block;
    flex-wrap: nowrap;
}

.menu ul{
    display: inline-block;
    align-content: right;
}

.menu ul li{
    display: inline-block;
    align-content: right;
    margin: 1em;
}

.menu ul li a{
    display: inline-block;
    align-content: right;
    text-decoration: none;
}

.menu ul li a button{
    background-color: cornflowerblue;
    
}
