*{
    list-style: none;
    margin: 0;

}
h1{
    color: rgb(184, 104, 117);
}

#parrafoRosa{
    color: palevioletred;
}

#parrafoCeleste{
    color: lightskyblue
}

.textoVerde{
    color: green;
}